.form-header
  margin-bottom: 60px
  &__title
    margin: 0 0 9px
    font-weight: 700
    font-size: 34px
    color: $primary-dark-color
  &__subtitle
    margin: 0
    color: $primary-dark-color
    font-size: 1.6em
  &__link
    margin-left: 4px
    color: $primary-color
